/*
    *    games.css
    *    -------------------------------------------------------------
    *
    *    Auteur    :    Okidoo Interactif
    *    Version   :    1.0.0
    *    Date      :    17 juillet 2018
    *
    *    -------------------------------------------------------------
    *
*/

:focus {
    outline:none;
}

.gh-game-pricing {
    padding:50px;
    background-color: #242424;
}

.gh-game-pricing h2 {
    margin-top: 0px;
    padding-top: 25px;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 30px;
}


.gh-our-servers {
    background-image: url(../img/server-half.png);
    background-repeat: no-repeat;
    background-position: 100% bottom;
    background-size: 250px;
    min-height:400px;
}

.gh-our-servers h2 {
    text-transform:uppercase;
    margin:0 0 15px 0;
    font-weight:700;
}

.gh-our-servers p:first-child {
    font-size:18px;
    line-height:1.6;
}

.pricing-bloc{
    background-color: #fff;
    margin: 15px;
    padding: 15px;
    text-align: center;
    border-radius: 15px;
    width: 25%;
}

.pricing-slider{
    margin: 50px 0px;
}

.pricing-slider .slide-content{
    margin: 0px 15px;
    background-color: #f7f7f7;
    border-radius: 25px;
    padding: 25px;
    text-align: center;
}

.pricing-slider .slide-content span.option-slots {
    color:#3b76ed
}

.red{
    color: #cb0f21;
}

.product-price .price {
    position: relative;
    text-align: center;
    display: inline-block;
    margin-left: -25%;
}


.product-price .yearly-price {
    color: #cb0f21;
    text-align: center;
    padding: 10px 5px;
    margin: 0 auto;
}

.off-price{
    background-color: #cb0f21;
    color: #fff;
    text-align: center;
    padding: 10px 5px;
    width: 50%;
    margin: 0 auto;
    margin-top: -35px;
}


.dollars-font-size {
    font-size: 62px;
    font-weight: 300;
    letter-spacing: -1px;
    position: relative;
}


.cents-font-size {
    font-size: 36px;
    color: #3b76ed;
    position: absolute;
    right: -54px;
    top: 6px;
}

.price .month {
    font-size: 14px;
    color: #333;
    position: absolute;
    top: 50px;
    right: -56px;
}

.price-title{
    font-size: 21px;
    color: #3b76ed;
}

.product-price .price-title {
    font-size:18px;
    font-weight:700;
}

.month{
    font-size: 18px;
}

.game-server-pricing{
    color: #fff;
    padding: 65px 50px;
} 

.blue-text-pricing{
    color: #5167ED;
}

.slick-slide{
    height: auto;
}

@media only screen and (max-width: 1400px){
    .dollars-font-size {
        font-size: 46px;
    }
}

@media only screen and (max-width: 1200px){
    .multiple-items {
        margin: 50px 90px;
    }
}

@media only screen and (max-width: 1024px){
    .multiple-items {
        margin: 50px 50px;
    }

    .dollars-font-size {
        font-size: 45px;
    }

    .game-server-pricing p {
        padding: 10px 0px 10px 0px;
    }

    .game-server-pricing{
        background-image: none !important;
    }
}

@media only screen and (max-width: 768px){
    .multiple-items {
        margin: 50px 25px;
    }

    .dollars-font-size {
        font-size: 65px;
    }

    .pricing-slider .slide-content {
        padding: 20px;
    }

    .row-eq-height {
        display: block;
    }
}

@media only screen and (max-width: 375px){
    .dollars-font-size {
        font-size: 55px;
    }
}

@media only screen and (max-width: 320px){
    .dollars-font-size {
        font-size: 45px;
    }
}